.menu-title-container{
  color: white;


}

.menu-title-container > h1{
  margin: 1rem 0;
  font-size: 10rem;
  display: flex;
  font-weight: bold;
  font-family: 'segoe UI';
  justify-content: center;
  text-transform: uppercase;
}

.menu-title-container > hr{
  margin: 0.3rem 0;

}
